body {
    background-color: white;
    margin: 0;
    font-family: "Jost", serif;
    height: 300vh;
}

p {
    margin: 0;
}

.header {
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: exclusion;
}

.menu {
    width: 15vw;
    display: flex;
    justify-content: space-between;
}

.header div {
    margin: 2vw;
}

.header div p {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
    mix-blend-mode: exclusion;
}

.header div p:hover {
    transform: scale(1.15);
    transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}


.landing {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.landing div p {
    margin: 2vw;
}

.tipo {
    font-size: 2em;
    font-weight: 500;
}

.nome {
    font-size: 6em;
    font-weight: 120;
}

.freccia {
    transform: translateX(-1.3vw);
    width: 4vw;
    left: 50vw;
    top: 90vh;
    position: absolute;
    scale: 2;
}

.freccia img {
    width: 100%;
}

.works {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works div {
    margin: 2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30vw;
}

.project {
    width: 15vw !important;
    text-align: center;
}

.project p {
    margin: 0.3em 0 0.3em 0;
    transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.project p:hover {
    transform: scale(1.15);
    transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.slide {
    position: absolute;
    width: 100%;
    opacity: 100%;
    transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.hidden {
    opacity: 0%;
    transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.foto {
    justify-content: center !important;
    position: relative;
}
