body {
  background-color: white;
  margin: 0;
  font-family: "Jost", serif;
  cursor: crosshair;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}


.nomob {
  margin: 0 !important;
  visibility: hidden;
  width: 0;
  height: 0;
}

p {
  margin: 0;
}

.header {
  z-index: 10;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.menu {
  padding: 7vw 10vw;
  display: flex;
  justify-content: space-between;
}

.header div {}

.header div a {
  text-decoration: none;
}

.header div p {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

.header div p:hover {}


.landing {
  height: 50vh;
  align-items: center;
  padding: 50vh 10vw 0 10vw;
  overflow: hidden;
}


.landing div p {}

.tipo {
  font-size: 1.6em;
  font-weight: 600;
}

.nome {
  font-size: 4em;
  font-weight: 120;
  line-height: 0.9em;
  margin-top: 0.3em;
}

.freccia {
  transform: translateX(-4vw);
  width: 15vw;
  left: 50vw;
  top: 85vh;
  position: absolute;
  scale: 2;
}

.freccia img {
  width: 100%;
}


.about {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
}

.about div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 0;
}

.descrizione {
  width: 100vw !important;
  text-align: center;
  text-align: justify;
  padding: 0 10vw 20vw 10vw;
}

.descrizione p {
  font-size: 1.4em;
  font-weight: 350;
}



.works {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.works div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30vw;
}

.project {
  width: 80vw !important;
  text-align: center;
  font-size: 1.4em;
  z-index: 10;
}

.project p {
  margin: 0.3em 0 0.3em 0;
}

.project p:hover {}

.slide {
  position: absolute;
  width: 0%;
  opacity: 0%;
}

.hidden {
  opacity: 0%;
}

.foto {
  justify-content: center !important;
  position: relative;
}


.gradient {
  justify-content: center !important;
  position: relative;
  visibility: hidden;
  width: 0;
  height: 0;
}

.gradient img {
  visibility: hidden;
  width: 0;
  height: 0;
}


.gradient_mob {
  background-size: 220vw auto;
  background-repeat: no-repeat;
  background-position: -100vw -40vh;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/gradiente/GRADIENT E.png");
  background-clip: border-box;
  position: absolute;
  z-index: -10;
}

.contact {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact div {
  flex-direction: column;
  width: 20vw;
}



.social {
  display: flex !important;
  justify-content: center !important;
  z-index: 10;
}

.social img {
  margin: 2vw;
}

.social img:hover {}

.footer {
  background-image: url("/images/gradiente/GRADIENTFOOTR.png");
  background-clip: border-box;
  font-family: "Jost", serif;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  translate: 0 -50vh;
}

.footer div {
  width: 30vw;
  margin: 2vw;
}

.up {
  translate: 0 10vh;
  display: flex;
  justify-content: center;
  height: 50%;
}


.up img {
  transform: rotate(0.5turn);
  overflow-y: clip;
}



a {
  cursor: crosshair;
  text-decoration: none;
  color: inherit;
}