body {
  background-color: white;
  margin: 0;
  font-family: "Jost", serif;
  cursor: crosshair;
  width: 100vw;
  overflow-x: hidden;
}


.nomob {
  margin: 0 !important;
  visibility: hidden;
  width: 0;
  height: 0;
}

p {
  margin: 0;
}

.header {
  z-index: 10;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.menu {
  padding: 7vw 10vw;
  display: flex;
  justify-content: space-between;
}

.header div {}

.header div a {
  text-decoration: none;
}

.header div p {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
  
}

.header div p:hover {
  transform: scale(1.15);
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}


.landing {
  height: 50vh;
  align-items: center;
  padding: 50vh 10vw 0 10vw;
  overflow: hidden;
}


.landing div p {}

.tipo {
  font-size: 1.6em;
  font-weight: 600;
}

.nome {
  font-size: 4em;
  font-weight: 120;
  line-height: 0.9em;
  margin-top: 0.3em;
}

.freccia {
  transform: translateX(-4vw);
  width: 15vw;
  left: 50vw;
  top: 85vh;
  position: absolute;
  scale: 2;
}

.freccia img {
  width: 100%;
}


.about {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
}

.about div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 0;
}

.descrizione {
  width: 100vw !important;
  text-align: center;
  text-align: justify;
  padding: 0 10vw 20vw 10vw;
}

.descrizione p {
  font-size: 1.4em;
  font-weight: 350;
}



.works {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.works div {
  margin: 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30vw;
}

.project {
  width: 15vw !important;
  text-align: center;
  font-size: 1.4em;
  z-index: 10;
}

.project p {
  margin: 0.3em 0 0.3em 0;
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.project p:hover {
  font-weight: 600;
  transform: scale(1.15);
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 100%;
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.hidden {
  opacity: 0%;
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.foto {
  justify-content: center !important;
  position: relative;
}


.gradient {
  justify-content: center !important;
  position: relative;
  visibility: hidden;
  width: 0;
  height: 0;
}

.gradient img {
  visibility: hidden;
  width: 0;
  height: 0;
}


.gradient_mob {
  position: absolute;
  top: -60vh;
  left: -120vw;
  z-index: -10;
  scale: 0.75;
  width: 100vw;
  
}

.gradient_mob img {
  overflow: hidden;
}

.contact {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact div {
  margin: 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 30vw;
}



.social {
  display: flex !important;
  justify-content: center !important;
}

.social img {
  filter: invert(100%);
  height: 4em;
  margin: 2vh;
  display: flex;
  justify-content: center;
  mix-blend-mode: difference;
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.social img:hover {
  transform: scale(1.15);
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.footer {
  background-image: url("/images/gradiente/GRADIENTFOOTR.png");
  background-clip: border-box;
  background-size: contain;
  font-family: "Jost", serif;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer div {
  width: 30vw;
  margin: 2vw;
}

.up {
  display: flex;
  justify-content: space-around;
  height: 100%;
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
  overflow-y: clip;
}


.up img {
  transform: rotate(0.5turn);
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
  overflow-y: clip;
}

.up img:hover {
  transform: rotate(0.5turn) scale(1.25);
  transition: 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
  overflow-y: clip;
}


a {
  cursor: crosshair;
  text-decoration: none;
  color: inherit;
}